*
{
	margin:0;
	padding:0;
	font-family: Montserrat, sans-serif;
	
}
body
{
	width:98.90%;
}


/*------ header start-----*/
header
{

	margin:0px;
	padding:0px;
}
.header1
{	
	padding:24px;
}
.header1 #logo
{
	margin-left: 86px;
	width:180px;
	line-height:30px;
}
.header1 #phone_top
{
	height:21px;
	width:18px;
	margin-left:180px;
	margin-top:10px;
}
.header1 p
{
	margin-top:5px;
	margin-left:6px;
	font-weight: 300;
	letter-spacing:1.2px;
	font-family: Montserrat, sans-serif;
}
.header1 a
{
	font-size:12px;
	margin-left: 30px;
	margin-top:10px;
	color: rgb(130, 56, 116);
}
.header1 #badge-bbb
{
	width:136px;
	height:35px;
	margin-left:30px;
}
.header2
{
	background: rgb(130, 56, 116);
	padding-left:30%;
	color:  #fff;
	font-family: Montserrat, sans-serif;
}
.header2 #clock
{
	width:20px;
	height:22px;
	margin-top:7px;
	
}
.header2 p 
{
	margin:7px 0px 7px 5px;
	font-size:15px;
	
}
.header2 ul
{
	font-size:12px;
	letter-spacing:1px;
	margin:11px 0px 7px 5px;
	
}
.header2 li 
{
	margin-left:40px;
	display: inline;

}
/*------ header end -----*/
/*------ section start -----*/
.section1 .centered
{
	position: absolute;
    top: 38%;
	left:15%;
	width:595px;
	height:162px;
    color: #fff;
	font-size: 44px;
	text-align: center;
}

.device-row
{
	position:absolute;
	display:block;
	top: 70%;
	left:15%;
	width:595px;
	height: 150px;
	color: rgb(84,62,110);
	text-align:center;
	background: rgba(255,255,255,0.5);
	
}
.device 
{
	padding-left:10px;
	text-align:center;
	margin-top:30px;
	margin-left:60px;
	color: rgb(84,62,110);
}
.feature-sprite
{
	background: url(feature_sprite.png);
	    margin: 0px auto 15px;
}
.icon-b1
{
	display:block;
	height: 35px;
    width: 35px;
    background-position: 0px center;
}
.icon-b2
{
	display:block;
	height: 35px;
    width: 40px;
    background-position: -35px center;
}

.icon-b3
{
	display:block;
	height: 35px;
    width: 40px;
    background-position: -74px center;
}
.icon-b4
{
	display:block;
	height: 35px;
    width: 40px;
    background-position: -113px center;
}
.price-quote
{
	background: rgb(75, 38, 102);
	position: absolute;
    top: 38%;
	left:59%;
	width:500px;
	height:380px;
	color: #fff;
}

/*------ section end -----*/
